@model prueba_RH.Models.Posicione

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NPosicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NPosicion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DescripcionPosicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPosicion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdDepartamentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartamentos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
