@model prueba_RH.Models.Posicione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Posicione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NPosicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NPosicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPosicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPosicion)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IdDepartamentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartamentos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
